.Feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-right: 5vw;
}

#featureImg {
    width: 100px;
}