.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2232;
}

.NavImage {
    margin-top: 3vh;
}

#logo{
    margin-left: 10vw;
}

#menu-top{
    margin-right: 10vw;
}